/* Sticky footer styles
-------------------------------------------------- */
html, body 
{
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.container
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    padding-bottom: 60px;
}

.footer 
{
   height: 60px;
}




