
html {
     overflow: -moz-scrollbars-vertical;
     overflow-y: scroll;
}

.col-centered
{
    float: none;
    margin: 0 auto;
}

.container
{
    background: white;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}



.list-group-item
{
    margin: 5px 0;
    padding: 7px;
}

.navbar-default
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
}

    .navbar-default .navbar-nav>li>a
    {
        color: #FFF
    }

.vertical-center
{
    align-items: center;
    display: flex;
    min-height: 100vh;
}

main
{
    padding-bottom:5em;

}

aside
{
    padding-top:2em;
    border-right: lightgray solid 1px;
    margin-right:-1px;
}


aside ul
{
    padding-left: 0
}

    aside ul li
    {
        list-style-type: none
    }

body
{
    /* background: url('/img/wallpaper-2.jpg') fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -ms-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;*/
  
    background-color: #2664BB;
    padding-top: 50px;
}

footer .container
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-top: dashed 1px lightgray;
    box-shadow: none;
    margin-bottom: 2em;
    padding: 1em 0 .5em;
    
    
}

h1
{
    margin: 0
}

header h1
{
    margin-bottom: 0;
    margin-top: 0;
}

main
{
    padding-bottom: 2em;
    padding-top: 0;
}

main.col-md-12
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

    main.col-md-12 .form-control
    {
        display: inline-block;
        width: auto;
    }

main .row:first-child, main form:first-child
{
    padding-top:2em;
}

nav .container
{
    /**-moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #0B3269;
    box-shadow: none;*/
    padding-bottom: 0;
    background-color: #0B3269;
    // background-image: url('../img/banner_av.jpg');
    
        -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

nav h3
{
    margin-top: 0;
    padding-top: 0;
}

object
{
    border: solid lightgray 1px;
    height: 1025px;
    margin-left: 10%;
    margin-right: auto;
    text-align: center;
}

span.clear-icon
{
    cursor: pointer;
    padding: 0 0 -25px -35px;
}

/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-dropdown-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;

    overflow-y: auto;
    padding: 6px 12px;
    width: 100%;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion p {
    margin: 0;
}

textarea 
{
   resize: none;
   width:400px;
}

video 
{

margin: 0 auto; 
   
}

.well-bkg
{
    background-color:#fff;
    min-height:150px;
}
.rating-list dt
{
     border-bottom: 1px dotted lightgray;
     margin-bottom: 0.4em;
}

.bs-docs-sidebar
{
    // height: 100vh;
}
.ellipsis
{
    white-space: nowrap;
    width: 100%;                
    overflow: hidden;  /* "overflow" value must be different from "visible" */                
    text-overflow: ellipsis;
}


img.thumbnail-180, a > img.thumbnail-180
{
    height: 142px;
}

/**** STYLISE RANGE INPUT *****/

/**** Generated from http://danielstern.ca/range.css/?ref=css-tricks#/ ****/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0.2px 0.2px 1.8px #000000, 0px 0px 0.2px #0d0d0d;
  background: rgba(0, 149, 255, 0);
  border-radius: 1.2px;
  border: 0.9px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.1px 1.1px 1.1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 1.5px solid rgba(255, 9, 0, 0);
  height: 17px;
  width: 17px;
  border-radius: 17px;
  background: #0075ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 149, 255, 0);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0.2px 0.2px 1.8px #000000, 0px 0px 0.2px #0d0d0d;
  background: rgba(0, 149, 255, 0);
  border-radius: 1.2px;
  border: 0.9px solid #ffffff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.1px 1.1px 1.1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 1.5px solid rgba(255, 9, 0, 0);
  height: 17px;
  width: 17px;
  border-radius: 17px;
  background: #0075ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 149, 255, 0);
  border: 0.9px solid #ffffff;
  border-radius: 2.4px;
  box-shadow: 0.2px 0.2px 1.8px #000000, 0px 0px 0.2px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 149, 255, 0);
  border: 0.9px solid #ffffff;
  border-radius: 2.4px;
  box-shadow: 0.2px 0.2px 1.8px #000000, 0px 0px 0.2px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.1px 1.1px 1.1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 1.5px solid rgba(255, 9, 0, 0);
  height: 17px;
  width: 17px;
  border-radius: 17px;
  background: #0075ff;
  cursor: pointer;
  height: 1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 149, 255, 0);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 149, 255, 0);
}




/**** ROTATE TABLE HEADER CLASS ****/

/*
 * Trick credit from
 * https://css-tricks.com/rotated-table-column-headers/ 
 * by Chris Coyier
**/

th.rotate {
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  padding-left: 0;
}


