/************************/
/****** TYPOGRAPHY ******/
/************************/
* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h1, h2, h3 {
	font-weight:200;
}

h1 small, h2 small, h3 small {
	font-weight:300;
}

h1,
	h3 {
  color: rgb(69, 69, 69);
}

h1 {font-style:italic;}

h3 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
}
h4 {
	font-weight: 300;
	font-style: italic;
}

b, strong {
    font-weight: 500;
}


/* admin/projects*/
span.classe {
	font-size: 4em;
	color: #d3d3d380;
	font-weight: 200;
}

.progress-modal {
	height: 6px;
	margin-bottom: 0;
	border-radius: 0px;
}
.projects-subcols {
	margin: 0;
	margin-right: -1px;
}
.projects-subcols div{
	border-right: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
/************************/
/******** CUSTOM ********/
/************************/


.alert, .panel, .panel-heading  {
    border-radius: 0px;
}

.panel-body {
    padding: 4px;
}

.table {
    margin-bottom: 0;
}

/*** LSU ****/
span.lsu {
	border: 1px solid lightgray; 
}


.panel-overflow {
max-height: 20em;
overflow: auto;
}

/* Detailled Results table color codes */
.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success,
.table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th,
.table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td,
.table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success,
.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger,
.table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th,
.table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td,
.table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger,
.table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tbody > tr > td.warning,
.table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th,
.table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td,
.table > thead > tr.warning > th, .table > thead > tr > td.warning, .table > thead > tr > th.warning {
	background: transparent;
}

.table > tbody > tr.danger {
	border-right: 7px #d9534f solid;
}

.table > tbody > tr.danger-left {
	border-left: 3px #d9534f solid;
}

.table > tbody > tr.warning {
	border-right: 7px orange solid;
}

.table > tbody > tr.success {
	border-right: 7px #5cb85c  solid;
}

tr.students-detailled-tr > td {
	vertical-align: middle!important;
}

tr.students-detailled-tr > td > p {
	margin: 0;
}


.checkbox label, .radio label {
    font-weight: 300;
}

.username-title {
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 5px;
}

.dotted_underline {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: #a94442;
}
.custom-menu
{
	position:relative;
	padding:0;
	margin: 0;
	float:none;
box-shadow: none;
}
.custom-menu > li > a
{
	padding-left:3em;
}

.container-fluid {
    padding-left: 0;
}

.nav {
  background-color: #34495e;
}

.nav > li > a {
  color: #b5d0f6;
}

.nav > li > a:focus,
	.nav > li > a:hover {
  color: #4d72a7;
}

.nav > li > a > span {
  margin-right: 0.5em;
  font-size: 1.2em;
  line-height: 2px;
}

.modal-lg {
    width: 1000px;
}

aside.sidebar {
  padding-right: 0px;
  padding-top: 1em;
  min-height: 95vh;
  background-color: #34495e;
}

.label {
	font-weight: 400;
}

.labels {

}

.submit-self-assessment {
	font-size: 1.1em;
}


li.active a {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}

li.divider {
  border-top: 1px dashed rgba(0, 0, 0, 0.35);
}

.bottom-align-text {
  position: absolute;
  bottom: 5px;
  right: 2em;
}

header div {
  border-bottom: lightgray solid 1px;
}

.projects-panel-body {
  min-height: 10em;
  padding-bottom: 0px;
}

.panel-body + .panel-body {
  padding-bottom: 1em;
}

.reached-deadline {
  border-left: 4px solid #ff7471;
}

.current {
  border-left: 4px solid #5cb85c;
}

div.captcha img {
	margin-bottom: 1em;
}

.desactivated {
  border-left: 4px solid lightgray;
}

/* Student results*/
.table > thead > tr > th {
    font-weight: 400;
}

.tooltip-inner {
    white-space:pre-wrap;
}

div#teacher-comment {
	min-height:10em;

}

#teacher-comment p {
	font-family: 'Indie Flower', sans-serif;
	background-color: white;
	border: none;
	font-size: 1.4em;
	margin-top:1em;
}

#content {
  background-color: white;
	border-bottom:lightgray 1px solid;
	padding-bottom:1em;
}

.chapeau {
	background-color:rgb(248, 248, 248);
	border-bottom:lightgray 1px dashed;
}

.chapeau-modal {
	margin: -13px;
	margin-bottom:1em;;
}


.demo-version {
    background-color: rgba(255,255,255 , 0.6);
    border-radius: 10px;
    padding:.5em;
}

.consultation-version {
	background-color: #396c9880;
	color: white;
    border-radius: 5px;
	padding-top: 1em;
	padding-bottom: 0.3em;
}

.tooltip-arrow, .tooltip-inner {
    background: white;
    color: black;
}

.tooltip-inner {
    border: 1px lightgray solid;
}

label
{
	font-weight: 00;
}

.form-inline
{
	text-align: right;
}

/***** OVERVIEW ****/
.btn-group .btn{
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.badge {font-size: 14px;
}

/***** PROFILE ***/
table.profile tr td   {
	border: none;
}

/****** AFFIX **********/
.affix {
	top: 20px;
	min-width: 16.66666667%;
	margin-left: -15px;
	padding-left: 15px;
 }

.nav > li > a {
    padding-right: 0;
}

/***** LOGIN ******/
main.login {
	/*background-color: rgba(225, 225, 225, 0.9);*/
	border-radius: 10px;
	padding-bottom:2em;
}


.login input {
   text-align:center;
   background-color: rgba(0,0,0,.2);
   border: 0px solid #fff;
   color: #FFF;
}

.user-avatar {

}

.vertical-center {

   margin-top:-50px; /* compens body padding 50px */
   min-height: 100%;  /* Fallback for vh unit */
   min-height: 100vh; /* You might also want to use
                        'height' property instead.
   /* Make it a flex container */
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;

   /* Align the bootstrap's container vertically */
   -webkit-box-align : center;
   -webkit-align-items : center;
   -moz-box-align : center;
   -ms-flex-align : center;
   align-items : center;

   /* In legacy web browsers such as Firefox 9
   we need to specify the width of the flex container */
   width: 100%;

   /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
   hence the bootstrap's container won't be aligned to the center anymore.

   Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
  	-webkit-justify-content: center;
	justify-content: center;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

/** EQUAL ROW HEIGHTS**/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*******************************/
/***** ROTATE TABLE HEADER *****/
/*******************************/
/*
 * Trick credit from
 * https://css-tricks.com/rotated-table-column-headers/
 * by Chris Coyier
**/

th.rotate {
  white-space: nowrap;
}

th.rotate > div {
  transform:
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  padding-left: 0;
}

/************************/
/****** ACHIEVEMENT *****/
/************************/

.achievement-frame {
	border: none;
	background-color: #d6ebf2;
	border-radius: 50%;
	margin:auto;
	width:7em;
	height:7em;
}

.